@page "/ReviewKit"
@using Microsoft.Extensions.Localization
@using global::LazyAbp.ReviewKit.Localization
@inject IStringLocalizer<ReviewKitResource> L
@{
}
<h1>ReviewKit</h1>
<p>@L["SamplePageMessage"]</p>