@page
@using Microsoft.Extensions.Localization
@using LazyAbp.ReviewKit.Localization
@model LazyAbp.ReviewKit.Web.Pages.ReviewKit.IndexModel
@inject IStringLocalizer<ReviewKitResource> L
@{
}
<h1>ReviewKit</h1>
<p>@L["SamplePageMessage"]</p>
