@page
@using Microsoft.Extensions.Localization
@using Lazy.Abp.ReviewKit.Localization
@model Lazy.Abp.ReviewKit.Web.Pages.ReviewKit.IndexModel
@inject IStringLocalizer<ReviewKitResource> L
@{
}
<h1>ReviewKit</h1>
<p>@L["SamplePageMessage"]</p>
